<div class="center-content">
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Login/Register</mat-card-title>
    </mat-card-header>
    <mat-card-conten>
      <mat-tab-group>
        <mat-tab label="Login">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value="">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Pasword"/>
          </mat-form-field>
          <button class="mat-button" mat-button color="primary">Login</button>
        </mat-tab>
        <mat-tab label="Register">Register</mat-tab>
      </mat-tab-group>
    </mat-card-conten>
  </mat-card>
</div>
