<div class="mat-app-background basic-container">

  <div fxLayout="column" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="25px">
    <mat-card fxFlex="calc(33%-35px)" fxFlex.sm="calc(50%-25px)">
      <app-blog-add (SubmittedPostEvent)="addToPostList($event)">
      </app-blog-add>
    </mat-card>
    <br><br>
    <ng-container *ngFor="let post of postList">
      <mat-card fxFlex="calc(33%-35px)" fxFlex.sm="calc(50%-25px)">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{post.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-actions>
          <a (click)="showEditDialog()" mat-button>EDIT</a>
          <a (click)="showDeleteDialog()" mat-button>DELETE</a>
          <a mat-button>LIKE</a>
        </mat-card-actions>
        <mat-card-content>
          <p>{{post.body}}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>

</div>
