<h2>Todo App with HttpClient</h2>

<div class="mat-app-background basic-container">
  <ng-container *ngFor="let todo of todoList; index as i">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{todo.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Id: {{todo.id}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  </ng-container>
</div>

<div>
  <label for="add-todo">Add Todo </label>
  <input id="add-todo" type="text" [formControl]="inputControl" (keydown.enter)="addTodo()">
</div>

<ul>
  <ng-container *ngFor="let todo of todoList; index as i">
    <li [class.completed]="todo.completed">
      <div (click)="toggleTodo(i)">
        Id: {{todo.id}}
        <br>
        {{todo.title}}
      </div>
    </li>
    <button (click)="deleteTodo(i)">Delete</button>
  </ng-container>
</ul>
