<div class="mat-app-background basic-container">
  <form [formGroup]="todoFormGroup" (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <label for="todo-title"></label>
        <input id="todo-title" matInput placeholder="Placeholder" [formControl]="titleControl">
        <mat-icon matSuffix>title</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Content</mat-label>
        <label for="todo-content"></label>
        <input id="todo-content" matInput placeholder="Placeholder" [formControl]="contentControl">
        <mat-icon matSuffix>title</mat-icon>
      </mat-form-field>
    </p>

    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>

  <br>

  <ng-container *ngFor="let todo of todoList; index as i">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title [class.completed]="todo.completed">
            {{todo.title}}
          </mat-panel-title>
          <mat-panel-description>
            <mat-checkbox (click)="toggleTodo(i)">Done</mat-checkbox>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-card>
          <div class="todo-detail">
            <span [class.completed]="todo.completed">{{todo.content}}</span>
            <button mat-raised-button color="warn" (click)="deleteTodo(i)">Delete</button>
          </div>
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
